{% extends "base.html" %}
{% load static %}

{% block content %}

<section  class="our-teachers" id="team">
    <div class="container" >
      <h2><font style="font-size: xxx-large;font-family: system-ui;font-style: oblique;"><b><center><p style="">Building Safety</p></center></b></font></h2>
          <div class="row">


            <embed src="{% static 'media/Building Safety Certificate.pdf' %}" type="application/pdf" style="width: 100%;height: 700px;border: none;"  />


          </div><br><br><br><br><br>
          
  
          </div><br><br><br>
</section>

{% endblock %}
