{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">

{% block content %}

<section>

<table class="table">
    <table class="table table-bordered">
        <tr class="table-active">
        <th scope="col">SL.NO.</th>
        <th scope="col">DOCUMENTS / INFORMATION</th>
        <th scope="col">DOCUMENTS</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Academic Calender</td>
        <td><img src="{% static 'images/pdf.jpg' %}"  width="30" height="30"><a href="{% static 'images/calender.png' %}">View</a>
         
            
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>New Student School Fee</td>
        <td><img src="{% static 'images/pdf.jpg' %}"  width="30" height="30"><a href="{% static 'images/fee.png' %}" >View</a></td>
       
      </tr>
    
        <tr>
          <th scope="row">3</th>
          <td>NOC</td>
          <td><img src="{% static 'images/pdf.jpg' %}"  width="30" height="30"><a href="{% static 'images/noc.png' %}" >View</a></td>
         
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>RTE</td>
          <td><img src="{% static 'images/pdf.jpg' %}"  width="30" height="30"><a href="{% static 'images/rte.png' %}" >View</a></td>
         
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Water Sanitation Certificate</td>
          <td><img src="{% static 'images/pdf.jpg' %}"  width="30" height="30"><a href="{% static 'images/water.png' %}" >View</a></td>
         
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>PTA</td>
          <td><img src="{% static 'images/pdf.jpg' %}"  width="30" height="30"><a href="{% static 'images/pta.png' %}" >View</a></td>
         
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>School Managing Commitee</td>
          <td><img src="{% static 'images/pdf.jpg' %}"  width="30" height="30"><a href="{% static 'images/smc.png' %}" >View</a></td>
         
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Society Registration Certificate</td>
          <td><img src="{% static 'images/pdf.jpg' %}"  width="30" height="30"><a href="{% static 'images/Society registration certificate.png' %}" >View</a></td>
         
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Building Safety</td>
          <td><img src="{% static 'images/pdf.jpg' %}"  width="30" height="30"><a href="{% static 'images/Building Safety.png' %}" >View</a></td>
         
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Fire Safety</td>
          <td><img src="{% static 'images/pdf.jpg' %}"  width="30" height="30"><a href="{% static 'images/Fire Safety.png' %}" >View</a></td>
         
        </tr>
        <tr>
          <th scope="row">11</th>
          <td>DEO Certificate</td>
          <td><img src="{% static 'images/pdf.jpg' %}"  width="30" height="30"><a href="{% static 'images/DEO Certificate.png' %}" >View</a></td>
         
        </tr>
    </tbody>
  </table>


</section>

{% endblock %}