

b{
    padding: 10px;
}
.our-gallery { background-color: #f1cc39; padding-bottom: 60px; }
.our-gallery h3 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 70px;
  font-size: 22px;
  font-weight: 600;
  color: #272c30;
  padding-bottom: 15px;
}
.spotlight img,
.image{
    width: 29vw;
    height: auto;
    max-width: 300px;
    margin: 1vmin 1vmin;
    content-visibility: auto;
}
.image{
    display: inline-block;
    height: 20vw;
    max-height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.spotlight img{
    height: 20vw;
    max-height: 200px;
    object-fit: cover;
}
.spotlight{
    cursor: pointer;
    display: inline-block;
}

